{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>
    <br>
    <p>{% blocktrans %} Thank you for signing up! <br> </br>
        You are now registered. Activation email has been sent to your email address.
        <br> </br>
        Please follow the instructions in the email to activate the account.
        <br> </br>
        Contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>

{% endblock %}
