amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
blist==1.3.6
cassandra-driver==2.5.1
celery==3.1.18
Django==1.8.3
django-allauth==0.23.0
django-bootstrap3==6.2.0
django-braces==1.8.1
django-cassandra-engine==0.3.3
django-crontab==0.6.0
django-debug-toolbar==1.3.2
django-easy-pdf==0.1.0
django-extensions==1.5.5
django-guardian==1.3
django-hijack==2.1.1
django-hijack-admin==8.1.1
django-organizations==0.5.3
django-recaptcha==1.0.4
django-rest-auth==0.6.0
django-rest-swagger==0.3.3
djangorestframework==3.2.2
drf-nested-routers==0.9.0
futures==3.0.3
html5lib==0.9999999
isoweek==1.3.0
kombu==3.0.26
librabbitmq==1.6.1
mod-wsgi==4.4.21
MySQL-python==1.2.5
oauthlib==1.0.3
pandas==0.16.2
Pillow==2.9.0
PyPDF2==1.25.1
python-dateutil==2.4.2
python-openid==2.2.5
pytz==2015.4
PyYAML==3.11
redis==2.10.3
reportlab==3.3.0
requests==2.7.0
requests-oauthlib==0.5.0
six==1.9.0
sqlparse==0.1.16
twilio==5.3.0
wheel==0.24.0
xhtml2pdf==0.0.6
