{% extends 'dataglen/dataglenbase.html' %}
{% load tz %}

{% block body_block %}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2> Sources </h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dataglen:dashboard' %}">Home</a>
            </li>
            <li>
                <a>Data Sources</a>
            </li>
            <li class="active">
                <strong>List sources</strong>
            </li>
        </ol>
    </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Overview of discarded records</h5>
                    <span class="pull-right"><a href="{% url 'dataglen:dashboard' %}">Dashboard</a></span>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Source Name</th>
                                <th>Last Invalid Record Timestamp</th>
                                <th>Discarded Records</th>
                                <th>View Discarded Records</th>
                                <th>Profile Page</th>
                            </tr>
                        </thead>
                            {% for entry in discarded_stats %}
                                <tbody>
                                    <td> {{ entry.key }} </td>
                                    <td> {{ entry.last_record|timezone:"Asia/Kolkata" }} </td>
                                    <td> {{ entry.invalid_records }} </td>
                                    <td> <a href="{% url 'dataglen:discarded-source' entry.key %}">View Discarded Records </a> </td>
                                    <td> <a href="{% url 'dataglen:source-detail' entry.key %}">View Profile </a> </td>
                                </tbody>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}