{% extends 'dataglen/dataglenbase.html' %}

{% block body_block %}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2> Your Profile </h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dataglen:dashboard' %}">Home</a>
            </li>
            <li>
                <a>Profile</a>
            </li>
        </ol>
    </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Information</h5>
                </div>
                <div class="ibox-content">
                {{ user.first_name }} {{ user.last_name }}<br>
                {{ user.email }} <br> <br>


                    {% if user_status == "OWNER" %}
                        You are the administrator of your organization
                        <b>{{ dataglenclient.organization_ptr.name }}</b> account on DataGlen.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>API Access Details</h5>
                </div>
                <div class="ibox-content">
                    <b> Access Key </b>
                    <br>
                    {{ token }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}