{% extends 'solarmonitoring/solarbase.html' %}
{% load bootstrap3 %}


{% block body_block %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Invite an Employee</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-" role="form" id="add-employee" action="{% url 'solar:employee-add' %}">
                            {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-primary">Send an Invite</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Your Employees</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Admin</th>
                                </tr>
                            </thead>
                            {% for employee in employees %}
                                {% if employee.user.email != user.email %}
                                    <tbody>
                                        <td> {{ employee.user.first_name}} {{ employee.user.last_name}} </td>
                                        <td> {{ employee.user.username }} </td>
                                        <td> {{ employee.user.email }} </td>
                                        <td> {{ employee.is_admin }} </td>
                                    </tbody>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}