{% extends 'solarmonitoring/solarbase.html' %}
{% load bootstrap3 %}
{% block body_block %}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2> New Solar Feeder </h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'solar:index' %}">Home</a>
            </li>
            <li>
                <a>Feeders</a>
            </li>
            <li class="active">
                <strong>Add a new Feeder</strong>
            </li>
        </ol>
    </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6  col-lg-offset-3">
                <div class="ibox-content">
                <form method="post" class="m-t" role="form" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary block m-b">Add </button>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}