{% extends 'solarmonitoring/niftybase.html' %}

{% block extrahead %}
	
	<link href="/static/dataglen/css/nv.d3.min.css" rel="stylesheet">

	<style>
		.nvd3 g.nv-groups path.nv-line {
		  stroke-width: 3px;
		}

		.width-70 {
			width: 70px;
		}

		@media (min-width: 768px){
		  .seven-cols .col-md-1,
		  .seven-cols .col-sm-1,
		  .seven-cols .col-lg-1  {
		    width: 100%;
		    *width: 100%;
		  }
		}

		@media (min-width: 992px) {
		  .seven-cols .col-md-1,
		  .seven-cols .col-sm-1,
		  .seven-cols .col-lg-1 {
		    width: 14.285714285714285714285714285714%;
		    *width: 14.285714285714285714285714285714%;
		  }
		}

		/**
		 *  The following is not really needed in this case
		 *  Only to demonstrate the usage of @media for large screens
		 */    
		@media (min-width: 1200px) {
		  .seven-cols .col-md-1,
		  .seven-cols .col-sm-1,
		  .seven-cols .col-lg-1 {
		    width: 14.285714285714285714285714285714%;
		    *width: 14.285714285714285714285714285714%;
		  }
		}

	</style>

{% endblock %}

{% block body_block %}

				<!--Page Title-->
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<div id="page-title">
					<h1 class="page-header text-overflow"></h1>
				</div>
				<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
				<!--End page title-->

				<!--Page content-->
				<!--===================================================-->
				<div id="page-content">

					<div class="row">
					    <div class="col-lg-4">
					        <!--Weather widget-->
					        <!--===================================================-->
					        <div id="demo-weather-widget-md" class="panel panel-primary panel-colorful" >
					            <div class="panel-heading">
					                <h3 class="panel-title"><i class="fa fa-map-marker fa-fw"></i> {{ plant.location }}</h3>
					            </div>

					            <!--Weather widget body-->
					            <div class="panel-body" style="padding-bottom: 16px; padding-top: 4px;">

					                <div class="media">
					                    <div class="media-left">
					                        <p class="text-4x text-thin mar-no" id="temperature"></p>
					                        <p class="mar-no" id="minmax"></p>
					                        <p class="text-semibold text-nowrap text-uppercase" id="comments"></p>
					                    </div>
					                    <div class="media-body text-center">
					                        <canvas id="demo-weather-md-icon-1" width="90" height="90"></canvas>
					                    </div>
					                </div>
					                <ul class="list-inline" style="margin-bottom: 10px;">
					                    <li><i class="fa fa-random fa-fw" > </i> <span id="windspeed"> </span></li>
					                    <li><i class="fa fa-tint fa-fw" ></i> <span id="precipitation"></span></li>
					                </ul>
					                <ul class="list-inline" style="margin-bottom: 5px;">
					                	<li class="text-semibold">Irradiance : <span id="irradiation"> </span></li>
					                	<li class="text-semibold" id="module_temp"></li>
					              	</ul>
					            </div>

					        </div>
					        <!--===================================================-->
					        <!--End Weather widget-->
					    </div>
					    <div class="col-lg-4">
					        <div class="row">
					            <div class="col-sm-12 col-lg-12">
                                    <div class="panel">

                                        {% if plant.slug == 'uran' or plant.slug == 'rrkabel' or plant.slug == 'unipatch' %}
                                            <a href="{% url 'solar:plant-power-values' plant.slug %}">
                                                <div class="ibox-content"  style="height: 223px">
                                                <div id="power_chart"   style="height: 200px;padding-top:15px">
                                                    <svg>
                                                    </svg>
                                                </div>
                                                </div>
                                            </a>
                                        {% else %}
                                            <div class="bg-success text-center">
                                              <!--Gauge placeholder-->
                                                    <!-- <div id="gauge" style="height: 150px;"></div> -->
                                                    <canvas id="current-power" height="145" class="canvas-responsive"></canvas>
                                            </div>
                                            <div class="pad-top">
                                                <ul class="list-unstyled row text-center">

                                                    <!--Gauge info-->
                                                    <li class="col-xs-6">
                                                        <span id="demo-gauge-text" class="text-2x">
                                                            {{ current_power }} KW
                                                        </span>
                                                        <p class="text-uppercase">
                                                            <small>Current Power</small>
                                                        </p>
                                                    </li>
                                                    <li class="col-xs-6">
                                                        <span class="text-2x">{{ plant.capacity }} kW</span>
                                                        <p class="text-uppercase">
                                                            <small>Plant Capacity</small>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}

                                    </div>

					            </div>
					        </div>
					    </div>
                        <div class="col-lg-4">
					        <div class="row">
					            <div class="col-sm-12 col-lg-12">

					                <div class="panel panel-purple panel-colorful">
					                    <div class="pad-all">
					                    	<div  class="col-lg-12">
                                            	<a href={% url 'solar:plant-energy-generation' plant.slug%}>
                                            		<p class="mar-no">
							                            <span class="pull-right text-bold" id="generation_expected" style="color: white;" hidden></span><span class="pull-right text-bold" id="generation_today" style="color: white;"></span>
							                            <span style="color: white;">Generation (Today</span><span id="generation_expected_div" style="color: white;" hidden>/PVsyst</span><span style="color: white;">)</span>
							                        </p>
                                                </a>
                                            </div>
                                            <div  class="col-lg-12">
                                            	<p class="mar-no">
						                            <span class="pull-right text-bold" id="total_generation" style="color: white;"></span>
						                            <span style="color: white;">Total Generation
						                            </span>
						                        </p>
                                            </div>
                                            <div class="col-lg-12">
                                            	<p class="mar-no">
						                            <span class="pull-right text-bold" id="expected_performance_ratio" hidden></span><span class="pull-right text-bold" id="performance_ratio"></span>
						                            <span>PR (Today</span><span id="expected_performance_ratio_div" hidden>/PVsyst</span><span style="color: white;">)</span>
						                        </p>
                                            </div>
                                            <div class="col-lg-12">
                                            	<p class="mar-no">
						                            <span class="pull-right text-bold" id="insolation"></span>
						                            <span>Insolation</span>
						                        </p>
                                            </div>
                                            <div  class="col-lg-12">
                                            	<p class="mar-no">
                                            		<span class="pull-right text-bold" id="pvsyst_tilt_angle" hidden></span><span class="pull-right text-bold" id="cuf_value"></span>
						                            <span>CUF</span><span id="pvsyst_tilt_angle_div" hidden>/PVsyst Tilt</span>
						                        </p>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p class="mar-no">
                                                        {% if plant.slug == 'uran' %}
                                                            <hr class="mar-no" style="padding-bottom: 7px">
                                                            <span class="pull-left text-lg text-semibold">
                                                                Owner: Seabird Marines <br>
                                                                Panel type: 310wp Renesola Poly <br>
                                                                Power temp. coefficient: -0.40% per degree <br>
                                                                Panel tilt: -10° <br>
                                                                Inverter types: 50kw-Delta
                                                            </span>
                                                        {% elif plant.slug == 'rrkabel' %}
                                                        	<hr class="mar-no" style="padding-bottom: 7px">
                                                            <span class="pull-left text-lg text-semibold">
                                                                Owner: R R Kabel <br>
                                                                Panel type: 315wp JA Solar Poly <br>
                                                                Power temp. coefficient: -0.410 %/degree <br>
                                                                Panel tilt: 4° <br>
                                                                Inverter types: 50kw-Delta
                                                            </span>
                                                        {% elif plant.slug == 'unipatch' %}
                                                        	<hr class="mar-no" style="padding-bottom: 7px">
                                                            <span class="pull-left text-lg text-semibold">
                                                                Owner: Unipatch Rubber Limited <br>
                                                                Panel type: Canadian Solar 320 Wp <br>
                                                                Power temp. coefficient: -0.40% per degree <br>
                                                                Panel tilt: 6° <br>
                                                                Inverter types: Delta
                                                        	</span>
                                                        {% else %}
                                    	<div  class="col-lg-12">
                                    		<p class="text-lg text-semibold text-center">Inverters</p>
                                    		<div class="col-lg-6">
	                                        	<a style="color:white" href={% url 'solar:inverters-status' plant.slug %}>
	                                        		<p class="mar-no">
							                            <span class="text-bold" id="devices_disconnected" style="color: white;"></span>
							                        </p>
	                                            </a>
	                                      	</div>
	                                      	<div class="col-lg-6">
	                                        	<a style="color:white" href={% url 'solar:inverters-status' plant.slug %}>
	                                        		<p class="mar-no">
							                            <span class="text-bold" id="devices_connected" style="color: white;"></span>
							                        </p>
	                                            </a>
	                                      	</div>
                                        </div>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% if plant.slug == 'uran' or plant.slug == 'rrkabel' or plant.slug == 'unipatch' %}
                                        {% else %}
                                            <div class="pad-btm pad-lft pad-rgt text-center">

                                                <div id="pr_bar" class="box-inline"></div>

                                            </div>
                                        {% endif %}
					                </div>
					            </div>
					        </div>
                        </div>
					</div>

                    {% if plant.slug == 'uran' or plant.slug == 'rrkabel' or plant.slug == 'unipatch' %}
	                    <div class="row">
						    <div class="col-lg-12">

						        <!--Network Line Chart-->
						        <!--===================================================-->
						        <div id="yearenergy-panel-network-summary" class="panel">
						            <div class="panel-heading">
						                <div class="col-md-6">
						                	<h3 class="panel-title"><span id="energy_heading"></span> Energy Generation</h3>
						                </div>
						                <div class="col-md-6 pad-top pull-right col-md-6_year">
				                        	<div class="col-md-2"></div>
						                	<div class="col-md-6">
							                	<select class="form-control" id="start_energy_year">
						                        	<!-- <option value="" disabled selected>--Choose Year--</option> -->
						                      	</select>
							                </div>
							                <div class="col-md-2">
						                		<button type="submit" id="yearenergy-panel-network-summary-update" data-toggle="panel-overlay" data-target="#yearenergy-panel-network-summary-update" class="btn btn-success width-70">Update</button>
						                	</div>
						                	<div class="col-md-2">
						                		<button type="submit" id="yearenergy-panel-network-summary-refresh" data-toggle="panel-overlay" data-target="#yearenergy-panel-network-summary-refresh" class="btn btn-info pad-no">Refresh</button>
						                	</div>
						                </div>
						            </div>

						            <!--Power values for today-->
						            <div id="year_energy_chart_no_data">
				                    </div>
						            <div class="ibox-content" style="height: 365px">
				                    	<div id="year_energy_chart" style="height: 290px">
				                    	</div>
				                	</div>
				                </div>
				            </div>
				        </div>
                    {% else %}
                        {% if plant.metadata.tickets_enabled %}
						    <div class="row">
                                <a href="{% url 'solar:ticket-list' plant.slug %}">
								<div class="col-md-6 col-lg-3">

									<!--Registered User-->
									<div class="panel media pad-all">
										<div class="media-left">
											<span class="icon-wrap icon-wrap-sm icon-circle bg-danger">
											<i class="fa fa-exclamation fa-2x"></i>
											</span>
										</div>
										<div class="media-body">
											<p class="text-2x mar-no text-thin" id="unacknowledged_tickets">0</p>
											<p class="text-bold mar-no">Unacknowledged Tickets</p>
										</div>
									</div>
								</div>
                                </a>
                                <a href="{% url 'solar:ticket-list' plant.slug %}">
								<div class="col-md-6 col-lg-3">

									<!--New Order-->
									<div class="panel media pad-all">
										<div class="media-left">
											<span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
											<i class="fa fa-bolt fa-2x"></i>
											</span>
										</div>

										<div class="media-body">
											<p class="text-2x mar-no text-thin" id="open_tickets">0</p>
											<p class="text-bold mar-no">Open Tickets</p>
										</div>
									</div>

								</div>
                                </a>
                                <a href="{% url 'solar:ticket-list' plant.slug %}">
								<div class="col-md-6 col-lg-3">
									<!--Comments-->
									<div class="panel media pad-all">
										<div class="media-left">
											<span class="icon-wrap icon-wrap-sm icon-circle bg-info">
											<i class="fa fa-check fa-2x"></i>
											</span>
										</div>

										<div class="media-body">
											<p class="text-2x mar-no text-thin" id="closed_tickets">0</p>
											<p class="text-bold mar-no">Closed Tickets</p>
										</div>
									</div>
								</div>
                                </a>
								<div class="col-md-6 col-lg-3">
									<!--Sales-->
									<div class="panel media pad-all">
										<div class="media-left">
											<span class="icon-wrap icon-wrap-sm icon-circle bg-success">
											<i class="fa fa-envira fa-2x"></i>
											</span>
										</div>
										<div class="media-body">
											<p class="text-2x mar-no text-thin">
												<span id="co2_savings">
												</span>
											</p>
											<p class="text-bold mar-no">CO<sub>2</sub> Savings</p>
										</div>
									</div>

								</div>
							</div>
                        {% endif %}
                        <div class="row">
					    <div class="col-lg-12">
					    	<!-- Large modal -->
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

							<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
							  	<div class="modal-dialog modal-lg">
							    	<div class="modal-content">
							      		<div class="modal-header">
								        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								        	<h4 class="modal-title" id="myModalLabel">Modal title</h4>
							      		</div>
								    	<div class="modal-body">
								        ...
								      	</div>
							    	</div>
							  	</div>
							</div> -->

					        <!--Network Line Chart-->
					        <!--===================================================-->
					        <div id="power-panel-network" class="panel">
					            <div class="panel-heading">
					                <!-- <div class="panel-control">
					                    <button id="power-panel-network-refresh" data-toggle="panel-overlay" data-target="#power-panel-network" class="btn"><i class="fa fa-rotate-right"></i></button>
					                </div> -->
					                <div class="col-md-6">
					                	<h3 class="panel-title">Today's<span id="date_today_generation"> </span> Generation</h3>
					                </div>
					            </div>

					            <div class="panel-control pull-left">
						            <ul class="nav nav-tabs pull-left">
					                    <li class="active"><a href="#plant_power-lft" data-toggle="tab" id="plant_powertab">Plant Power</a></li>
					                    <li><a href="#group_power_chart-lft" data-toggle="tab" id="group_powertab" onClick="redraw_window();">Group Power</a></li>
					                    {% if plant.slug == 'palladam' or plant.slug == 'waaneep' %}
					                    	<li><a href="#energy_prediction_chart-lft" data-toggle="tab" id="energy_predictiontab" onClick="redraw_window();">Energy Prediction</a></li>
					                    {% endif %}
					                    <li><a href="#insolation_chart-lft" data-toggle="tab" id="insolation_powertab" onClick="redraw_window();">Insolation</a></li>
					                </ul>
					    		</div>

				                <div class="panel-body">
					            	<div class="tab-content">
					                	<div class="tab-pane fade in active" id="plant_power-lft">

	                                		<div id="power_chart" style="height: 255px; margin-top: 40px;">
						                        <svg>
						                        </svg>
						                    </div>

	                                	</div>

	                                	<div class="tab-pane fade" id="group_power_chart-lft">

	                                		<div id="group_power_chart" style="height: 225px; margin-top: 40px;">
                                                <svg style="float: left;">

                                                </svg>
                                            </div>
	                                	</div>

	                                	{% if plant.slug == 'palladam' or plant.slug == 'waaneep' %}
		                                	<div class="tab-pane fade" id="energy_prediction_chart-lft">
	                                			<div id="energy_prediction_chart" style="height: 225px; margin-top: 40px;">
	                                                <svg style="float: left;">

	                                                </svg>
                                            	</div>
		                                	</div>
	                                	{% endif %}

	                                	<div class="tab-pane fade" id="insolation_chart-lft">
	                                		<div class="row"></div>
	                                		<div id="insolation_chart" style="height: 225px;width: 77vw;">
                                            </div>
	                                	</div>

	                                </div>
	                            </div>

					            <!--Power values for today-->
					            <!-- <div class="ibox-content" style="height: 265px">
					            	<div id="power_chart" style="height: 255px">
				                        <svg>
				                        </svg>
				                    </div>
			                    </div> -->


{#					                    <div class="col-lg-4">#}
{#					                        <p class="text-semibold text-uppercase">Generation Today</p>#}
{#					                        <div class="row">#}
{#					                            <div class="col-xs-12">#}
{#					                                <div class="media">#}
{#					                                    <div class="media-left">#}
{#					                                        <span class="text-3x text-thin">{{ today_generation|floatformat }} kWh</span>#}
{#					                                    </div>#}
{#					                                </div>#}
{#					                            </div>#}
{#					                            <div class="col-xs-6 text-sm">#}
{#					                            </div>#}
{#					                        </div>#}
{#                                        </div>#}
{##}
{#					                    <div class="col-lg-4">#}
{#					                        <p class="text-uppercase text-semibold">Devices Status</p>#}
{#					                        <ul class="list-unstyled">#}
{#					                            <li>#}
{#					                                <div class="media">#}
{#					                                    <div class="media-left">#}
{#                                                            <p>#}
{#                                                                <span class="text-lg">Inverters connected/disconnected</span>#}
{#                                                                <span class="pad-lft text-semibold">#}
{#                                                                    <span class="text-lg text-success">{{ inverters_status.stable|length }}</span> / <span class="text-lg text-danger">{{ inverters_status.errors|length }}</span>#}
{#                                                                </span>#}
{#                                                            </p>#}
{#                                                            <p>#}
{#                                                                <span class="text-lg">AJBs connected/disconnected</span>#}
{#                                                                <span class="pad-lft text-semibold">#}
{#                                                                    <span class="text-lg text-success">{{ inverters_status.stable|length }}</span> / <span class="text-lg text-danger">{{ inverters_status.errors|length }}</span>#}
{#                                                                </span>#}
{#                                                            </p>#}
{##}
{#					                                    </div>#}
{#					                                </div>#}
{#					                            </li>#}
{#					                        </ul>#}
{#					                    </div>#}
{##}
{#					                    <div class="col-lg-4">#}
{#					                        <p class="text-uppercase text-semibold">Time</p>#}
{#					                        <ul class="list-unstyled ">#}
{#					                            <li>#}
{#					                                <div class="media">#}
{#					                                    <div class="media-left">#}
{#					                                        <span class="text-2x text-thin">{{ date }}</span>#}
{#					                                    </div>#}
{#					                                </div>#}
{#					                            </li>#}
{#					                        </ul>#}
{#					                    </div>#}


					        <!--===================================================-->
					        <!--End network line chart-->

					    </div>
					</div></div>
                    {% endif %}
				<!--===================================================-->
				<!--End page content-->
					            <!--Chart information-->
                <div class="panel">
                    
                </div>

                <div class="modal fade inverter_modal" id="inverter_modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"><span id="inverter_name"></span> Details</h4>
                            </div>
                            <div class="modal-body">
                                <p id="status_name"></p>
                                <p id="status_connected"></p>
                                <p id="status_orientation"></p>
                                <p id="status_capacity"></p>
                                <p id="status_power"></p>
                                <p id="status_generation"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div>

{% endblock %}

{% block js %}
    <script src="/static/dataglen/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/dataglen/js/nv.d3.min.js"></script>
    <script src="/static/solarrms/js/papaparse.min.js"></script>
    <script src="/static/dataglen/js/date.format.js"></script>

    <script>
    	var live_chart = null;

        var plant_capacity = {{ plant.capacity }};
        var current_power = {{ current_power }};
        var plant_location = '{{ plant.openweather }}';
        var plant_slug = '{{ plant.slug }}';
        var sourcekey = '{{ plant.metadata.plantmetasource.sourceKey }}';

    </script>

    <script src="/static/solarrms/js/js_functions/basic_bar_chart_plotly.js"></script>
    <script src="/static/solarrms/js/demo/widgets2.js"></script>
{% endblock %}