{% extends 'solarmonitoring/niftybase.html' %}

{% block extrahead %}
    
    <link href="/static/dataglen/css/nv.d3.min.css" rel="stylesheet">
    <link href="/static/dataglen/css/metricsgraphics.css" rel="stylesheet">

    <style>
        #chart svg {
          height: 80px;
        }

    </style>

{% endblock %}

{% block body_block %}

    <!--Panel with Tabs-->
<div class="boxed">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="panel-title">Inverter Status</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="inverter_status" style="margin-left:10px">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Panel with Tabs-->
</div>
{% endblock %}

{% block js %}
    <script src="/static/dataglen/js/d3.v3.min.js"></script>
    <script src="/static/dataglen/js/nv.d3.min.js"></script>
    <script src="/static/solarrms/js/metricsgraphics.min.js"></script>
    <script src="/static/solarrms/js/papaparse.min.js"></script>
    <script src="/static/dataglen/js/date.format.js"></script>
    <script>
        var live_chart = null;
        var plant_slug = '{{ plant.slug }}';
    </script>

    <script src="/static/solarrms/js/demo/niftyinverters-status1.js"></script>
{% endblock %}

