{% extends 'solarmonitoring/niftybase.html' %}

{% block extrahead %}

    <link href="/static/solarrms/css/spinner.css" rel="stylesheet">
    <link href="/static/solarrms/plugins/jquery-sumoselect/sumoselect.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/datepicker/0.5.0/datepicker.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">

    <style>
/*
        @media screen and (min-width: 768px) {
            .col-lg-offset-1 {
                margin-left: 0.8%;
            }

            .col-md-offset-1 {
                margin-left: 0.8%;
            }

            .col-lg-2 {
                width: 19.4%;
            }

            .col-md-2 {
                width: 19.2%;
            }
        }

*/
        
        .alert .close {
            font-size: 21px;
            top: 15px;
            font-weight: 700;
            line-height: 1;
        }

        .SumoSelect {
            color: rgba(44,62,80,1);
            width: 100%;

        }

        .SumoSelect > .CaptionCont > span.placeholder {
            color: rgba(44,62,80,1);
            font-style: italic;
        }

        .SumoSelect.open > .CaptionCont {
            box-shadow: 0 0 2px #7799D0;
            border-color: rgba(236,240,241,1);
        }

        .SumoSelect > .CaptionCont {
            position: relative;
            border: 1px solid rgba(44,62,80,0.8);
            min-height: 14px;
            background-color: rgba(236,240,241,1);
            border-radius: 2px;
            margin: 0;
        }

        .SumoSelect .select-all {
            border-radius: 3px 3px 0 0;
            position: relative;
            border-bottom: 1px solid #ddd;
            background-color: #fff;
            padding: 8px 0 3px 35px;
            height: 34px;
            cursor: pointer;
        }

        .div-hover:hover {
            background-color: #a7adb3;
        }

        .aggregator_period_select {
            color: white;
            background-color: #249e92;
            height: 4.9vh;
            background: #249e92;
            border: 1px solid #249e92;
        }

    </style>

{% endblock %}

{% block body_block %}

    <div id="page-content">
        <div id="multiple_parameters-panel-network" class="panel">
            <div class="row visible-xs"></div>

            <div class="panel-body">
                <div class="pad-btm">
                    <p class="text-lg text-semibold text-uppercase text-thin text-info">Data Visualisation and Download</p>
                    <p class="text-sm text-thin text-semibold"> Visualise or download data for the selected date, devices and parameters. </p>
                </div>
                <div class="row" id="devices">
                    <div class=" col-lg-2 col-md-2 col-sm-2">
                        <div class="panel panel-flat-ui pad-no mar-no" style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pad-no mar-no mar-no">
                                        <img src="/static/solarrms/img/smbs.png" class="pull-left img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pad-no mar-no">
                                        <h4 class="pull-right pad-no mar-no">SMUs or AJBs </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="ajbs"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2">
                        <div class="panel panel-flat-ui width-panel pad-no mar-no"  style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pad-no mar-no">
                                        <img src="/static/solarrms/img/inverters2.png" class="img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pad-no mar-no">
                                        {% if dataglenclient.slug == 'edp' %}
                                            <h4 class="pull-right pad-no mar-no">Panel <br /> Devices </h4>
                                        {% else %}
                                            <h4 class="pull-right pad-no mar-no">Inverter <br /> Devices </h4>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="inverters"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2">
                        <div class="panel panel-flat-ui width-panel pad-no mar-no" style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 pad-no mar-no">
                                        <img src="/static/solarrms/img/energymeter.png" class="img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 pad-no mar-no">
                                        <h4 class="text-center pad-no mar-no">Energy <br /> Meters </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="energy_meters"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2">
                        <div class="panel panel-flat-ui width-panel pad-no mar-no" style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pad-no mar-no">
                                        <img src="/static/solarrms/img/transformers.png" class="img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pad-no mar-no">
                                        <h4 class="text-center pad-no mar-no">Transformers <br /> Units </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="transformers"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2" >
                        <div class="panel panel-flat-ui width-panel pad-no mar-no" style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5  pad-no mar-no">
                                        <img src="/static/solarrms/img/weathersun.png" class="img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-8 col-md-7 col-sm-7 col-xs-7 pad-no mar-no">
                                        <h4 class="text-center pad-no mar-no">Weather <br /> Data </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="plant_meta_source"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                    <div class=" col-lg-2 col-md-2 col-sm-2">
                        <div class="panel panel-flat-ui width-panel pad-no mar-no" style="border-bottom: 0px;">
                            <div class="panel-body border-bottom mar-no" style="height: 10.5vh;">
                                <div class="row pad-no mar-no">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pad-no mar-no">
                                        <img src="/static/solarrms/img/plantmetrics.png" class="img-responsive" style="height: 6vh;">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pad-no mar-no">
                                        <h4 class="text-center pad-no mar-no">Plant <br /> Metrics </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="pad-top mar-no" style="height: 15vh;">
                                <div id="plant_solar_metrics"></div>
                            </div>
                        </div>
                        <!-- <h4 class="text-center">Inverter</h4>
                        <div id="inverters"></div> -->
                    </div>
                </div>
                <div class="row pad-top" id="aggregator_options">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="btn-group">
                            <button class="btn btn-mint dropdown-toggle" data-toggle="dropdown" type="button" style="width: 14vw;">
                                <span class="aggregator" id="aggregator">Actual Data</span>
                                <i class="dropdown-caret"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-left aggregation_select-list" id="aggregation_select-list">
                                <li value="false"><a>Actual Data</a></li>
                                <li value="true"><a>Data Average</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2" id="aggregator_time_div">
                        <div class="btn-group">
                            <button class="btn btn-mint dropdown-toggle" id="aggregator_time_button" data-toggle="dropdown" type="button" disabled style="width: 14vw;">
                                <span class="aggregator_time" id="aggregator_time">Average Unit</span>
                                <i class="dropdown-caret"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-left aggregator_time-list" id="aggregator_time-list">
                                <li value="MINUTE"><a>Minute</a></li>
                                <li value="DAY"><a>Day</a></li>
                                <li value="MONTH"><a>Month</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2" id="aggregator_period_div">
                        <div class="form-group">
                            <select class="form-control aggregator_period_select" id="aggregator_period_dropdown" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2" id="aggregator_type_div">
                        <div class="btn-group">
                            <button class="btn btn-mint dropdown-toggle" id="aggregator_type_button" data-toggle="dropdown" type="button" disabled style="width: 14vw;">
                                <span class="aggregator_type" id="aggregator_type">Mean</span>
                                <i class="dropdown-caret"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-left aggregator_type-list" id="aggregator_type-list">
                                <li value="min"><a>Mean</a></li>
                                <li value="max"><a>Minimum</a></li>
                                <li value="mean"><a>Maximum</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" id="options">
                    <ul class="pager">
                        <div class="col-lg-2 col-md-2 col-sm-2 mar-no" id="datepicker_div" style="padding-left: 0px;">
                            <input type="text" class="form-control datepicker" placeholder="Pick a Start Date" style="height: 31px;">
                            <div class="pad-top text-thin text-sm text-semibold">
                                <i class="pad-top">Please select a start date </i>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 mar-no" id="datepicker_end_div" style="padding-left: 0px;">
                            <input type="text" class="form-control datepicker_end_date" placeholder="Pick an End Date" disabled style="height: 31px;">
                            <div class="pad-top text-thin text-sm text-semibold">
                                <i class="pad-top">Please select an end date (only for data averaged over multiple days) </i>
                            </div>
                        </div>
                        <li class="next"><a class="btn btn-default" id="multiple_parameters-data_chart" style="float: left;">Visualise <i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
                        <li class="next"><a class="btn btn-default" id="multiple_parameters-download" style="float: left;">Download <i class="fa fa-download" aria-hidden="true"></i></a></li>

                        <li id="multiple-parameters-li" class="next disabled"><a class="btn btn-default" id="multiple_parameters-next" style="float: right;">Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                        <li id="multiple-parameters-before-li" class="previous disabled"><a class="btn btn-default" id="multiple_parameters-before" style="float: right;"><i class="fa fa-angle-double-left" aria-hidden="true" ></i> Previous</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5"></div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="loader text-center" hidden></div>
                    </div>
                </div>
                <div id="multiple_parameters_chart">
                </div>
                <iframe name="multiple_data_download_form" style="display:none"></iframe>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    
    <script src="/static/solarrms/js/demo/csrf_validation.js"></script>
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/solarrms/plugins/jquery-sumoselect/jquery.sumoselect.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="/static/dataglen/js/date.format.js"></script>

    <script>
        var live_chart = null;
        var plant_slug = '{{ plant.slug }}';
        var client_slug = '{{ dataglenclient.slug }}'
        var client_name = '{{ dataglenclient.name }}'
        console.log(client_name);
        var select_all = false;
        if (client_name == "Chemtrols Solar" || client_name == "Renew Power") {
            select_all = true;
        }
    </script>

    <script src="/static/solarrms/js/demo/visualisations-plant_multiple_parameters.js"></script>

{% endblock %}