{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<style>
    #id_source_key { height:250px; }
</style>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>

{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="/admin/">Home</a>
› Reset Password
</div>

{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <fieldset class="module aligned wide">
    <form id="add_reset_password" action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>

        <div class="submit-row">
            <input value="Change" class="default" id="submit" name="_reset_password" type="submit" />
        </div>
    </form>
    </fieldset>

{% endblock %}
